doctype html
html(lang='en')
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/dashboard.css')
  body.home
    .container-fluid.display-table
      .row.display-table-row
        #navigation.col-md-2.col-sm-1.hidden-xs.display-table-cell.v-align.box
          .logo
            a(hef='home.html')
              img.hidden-xs.hidden-sm(src='/images/logoclear.png' alt='logoclear')
              img.visible-xs.visible-sm.circle-logo(src='http://jskrishna.com/work/merkury/images/circle-logo.png' alt='merkery_logo')
          .navi
            ul
              li.active
                a(href='/dashboard')
                  i.fa.fa-home(aria-hidden='true')
                  span.hidden-xs.hidden-sm Dashboard
              li
                a(href='/inventory')
                  i.fa.fa-tasks(aria-hidden='true')
                  span.hidden-xs.hidden-sm Inventory
              li
                a(href='/healthReport')
                  i.fa.fa-bar-chart(aria-hidden='true')
                  span.hidden-xs.hidden-sm Health Report
              li
                a(href='/logout')
                  i.fa.fa-user(aria-hidden='true')
                  span.hidden-xs.hidden-sm Logout
              li
                a(href='#')
                  span.hidden-xs.hidden-sm Thank you for using RASU AI! Please log out when you finish using our service.
            

        .col-md-10.col-sm-11.display-table-cell.v-align
          // <button type="button" class="slide-toggle">Slide Toggle</button>
          .row
            header
              .col-md-7
                nav.navbar-default.pull-left
                  .navbar-header
                    button.navbar-toggle.collapsed(type='button' data-toggle='offcanvas' data-target='#side-menu' aria-expanded='false')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar

            <br>
            <br>
            
            h2(style='font-family: libraryFont; margin-left:10px') Please fill out the daily health survey!
            form(class="symptoms")
                input#Fever(type='checkbox' name='Fever' value='Fever' class='largerCheckbox')
                label(for='Fever')&nbsp;&nbsp; Fever
                br
                input#SevereDryCoughing(type='checkbox' name='vehicle2' value='Car' class='largerCheckbox')
                label(for='vehicle2')&nbsp;&nbsp; Severe Dry Coughing
                br
                input#Sneezing(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Sneezing
                br
                input#SoreThroat(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Sore Throat
                br
                input#MildHeadaches(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Mild Headaches
                br
                input#RunnyorStuffyNose(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Runny Nose
                br
                input#WetCough(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Wet Cough
                br
                input#Nausea(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Nausea
                br
                input#Constipation(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Constipation
                br
                input#ChestPain(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Chest Pain
                br
                input#Heartburn(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Heart Burn
                br
                input#AbdominalPain(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Abdominal Pain
                br
                input#BloodyVomit(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Bloody Vomit
                br
                input#WeakUrineStream(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Weak Urine Stream
                br
                input#VisibleGenitalInfection(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Visible Genital Infection
                br
                input#BurningWhileUrinating(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  BurningWhileUrinating
                br
                input#BloodyUrine(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  BloodyUrine
                br
                input#Nervousness(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Nervousness
                br                           
                input#RapidHeartRate(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  RapidHeartRate
                br                           
                input#Insomnia(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp;  Insomnia
                br                           
                input#PanicAttacks(type='checkbox' name='vehicle3' value='Boat' class='largerCheckbox')
                label(for='vehicle3')&nbsp;&nbsp; Panic Attacks
                br  
                br
                a(href="/coldFlu")                       
                    button.btn.btn-black(type='button' style='margin-right: 10px; border: solid; border-size: 1px; font-family:libraryFont') Submit
                br
                br