doctype html
html(lang='en')
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet' href='/stylesheets/login.css')
  body
    .sidenav
      .login-main-text
        h2(style='font-family:libraryFont;')
          | RASU AI
          br
          |  Authentication Page
        p Login or register from here to access RASU AI.
    .main
      .col-md-6.col-sm-12
        br
        br
        br
        img(src='/images/logoclear.png' alt='logoclear' width='479.7' height='141.3' style='margin-left: 50px')
        .login-form(style='margin-top: 70px')
          form(action='/login' method='POST')
            .form-group
              label User Name:
              input#username.form-control(type='text' placeholder='User Name' name='username')
            .form-group
              label Password:
              input#password.form-control(type='password' placeholder='Password' name='password')
              br
              button.btn.btn-black(type='submit' style='margin-right: 10px;font-family:libraryFont') Login
              a(href="/register")
                button.btn.btn-secondary(type='button' style='font-family:libraryFont') Register
